@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Selamat Datang !</h1>
    <p>Web ini masih belum sempurna (BETA), 
        jika ada kritik dan saran bisa kirim langsung ke email admin-dosen@mail.com.</p>
</div>
